.experienceTitle{
    font-size: calc(10px + 8vmin);
    text-align: center;
    padding: 1px; 
    text-shadow: 3px 5px #000000;
    align-content: center;
}
.jobOption{
    padding: 20px;    
    margin-bottom: 20px;
}
.jobOption h2{
    font-size: calc(10px + 3vmin);
    text-shadow: 2px 2px #000000;
    text-align: left;
}
.jobOption h3{
    font-size: calc(5px + 1.5vmin);
    text-shadow: 2px 2px #000000;
    text-align: left;
}