.buttonBackground{
    /* background-color: rgba(0, 0, 0, 0.322); */
    border-radius: 20px;
    margin-top: 10px;
    padding-right: 30px;
}
.buttonText{
    text-align: start;
    font-size: 18px;
    text-shadow: 2px, 2px, black;
}
.underline{
    background-color: white;
    width: 15px;
    height: 5px;
    border-radius: 20px;
}
